<div class="active-weather">
  @if (weather != undefined) {
  <div class="active-weather-container">

    <div class="box">
      <img src="../../../../assets/image/weather/{{imgWeather}}.png" alt="imagen de {{weatherSpanish}}"
        id="img-weather">
      <p>{{weather.current.temperature}}º</p>
    </div>
    <div class="weather-content">
      <p id="city-name"><span>Ciudad:</span> {{cityName}}</p>
      <p><span>Tiempo:</span> {{weatherSpanish}}</p>
      <p><span>Velocidad de Viento:</span> {{weather.current.wind.speed}}</p>
      <p><span>Probab. Precipitación:</span> {{weather.current.precipitation.total}}%</p>
      <p><span>Cantidad de nubes:</span> {{weather.current.cloud_cover}}%</p>
    </div>
  </div>
  } @else {
  <div class="active-weather-container uknow-weather">
    <div class="box">
      <div class="uknow-weather-text">
        <p>Tiempo desconocido en la ciudad </p>
        <p class="cityName">{{cityName}}</p>
      </div>
    </div>
    <div class="uknow-weather-content">
      <img src="../../../../assets/image/weather/error-weather.png" alt="imagen de tiempo de error" id="img-weather">
      <div class="weather-content">
        <p><span>Tiempo:</span> -</p>
        <p><span>Velocidad de Viento:</span> -</p>
        <p><span>Probab. Precipitación:</span> -</p>
        <p><span>Cantidad de nubes:</span> -</p>
      </div>
    </div>
  </div>
  }
</div>
