<footer class="site-footer">
  <div class="start-footer">
    <div class="header-site-footer">
      <div class="description">
        <h6>Sobre nosotros</h6>
        <p class="text-justify">TravelingAge.com <i>ES ÉPOCA DE VIAJAR</i>
          es un blog de viajes que te sumerge en aventuras alrededor del mundo. Sus guías para viajar por libre son una
          fuente inagotable de inspiración. Desde rutas por Marruecos hasta itinerarios en la Costa Amalfitana,
          encontrarás consejos útiles, mapas detallados y recomendaciones de lugares imprescindibles. Si buscas explorar
          nuevos destinos, TravelingAge es tu compañero ideal.</p>
      </div>
    </div>
    <div class="body-site-footer">
      <div class="mentions">
        <h6>Menciones de recursos</h6>
        <ul class="footer-mentions">
          <li><a href="https://www.pexels.com/es-es/api/">Pexels</a></li>
          <li><a href="https://restcountries.com/">Restcountries</a></li>
          <li><a href="https://randomuser.me/">Randomuser</a></li>
          <li><a href="https://www.meteosource.com/">Meteosource</a></li>
        </ul>
      </div>

      <div class="links-web">
        <h6>Enlaces Rápidos</h6>
        <ul class="footer-links">
          <li><a href="">Más sobre nosotros</a></li>
          <li><a href="">Contactanos</a></li>
          <li><a href="">Contribuyentes</a></li>
          <li><a href="">Políticas de privacidad</a></li>
        </ul>
      </div>
    </div>

  </div>
  <hr>
  <div class="end-footer">
    <div class="copyright">
      <p class="copyright-text">Copyright &copy; 2024 Todos los derechos reservados a
        <a href="#">TravelingAge</a>.
      </p>
    </div>

    <div class="social-media">
      <ul class="social-icons">
        <li><a class="facebook" href="#"><i class='bx bxl-facebook-square'></i></a></li>
        <li><a class="twitter" href="#"><i class='bx bxl-twitter'></i></a></li>
        <li><a class="instagram" href="#"><i class='bx bxl-instagram-alt'></i></a></li>
        <li><a class="linkedin" href="#"><i class='bx bxl-linkedin-square'></i></a></li>
      </ul>
    </div>
  </div>
</footer>
