<div class="dashboard-content">
  <div class="active-weather">
    <h1 style="align-self: flex-start">Tiempo</h1>
    <div class="active-weather-container">
      <div class="box" style="--i: 85%">
        <div class="circle">
          <h2>85<small>%</small></h2>
        </div>
      </div>
      <div class="weather-content">
        <p><span>Clima:</span> Soleado</p>
        <p><span>Humedad:</span> 85%</p>
        <p><span>Temperatura:</span> 30ª</p>
      </div>
    </div>
  </div>
  <div class="contacts">
    <h1>Contactos</h1>
    <div class="contacts-container">
      <app-contacts></app-contacts>
    </div>
  </div>
</div>
