<aside class="dashboard-content">
  <h1 style="align-self: flex-start">Tiempo en tú ciudad</h1>
  <div class="containers-weather">
    @if(weatherTodayResult | async; as weather){
    <app-city-weather [weather]="weather" [cityName]="cityName"></app-city-weather>
    } @else{
    <app-city-weather [weather]="weatherVoid" [cityName]="cityName"></app-city-weather>
    }
  </div>

  <div class="contacts">
    <h1>Contactos</h1>
    <div class="contacts-container">
      @if(personContactResult | async; as person){
      <ng-container>
        @for(item of person.results; track item.id){
        <app-contact [contact]="item"></app-contact>
        }
      </ng-container>
      }
      @else {
        <app-contact [contact]="personVoid"></app-contact>
      }
    </div>
  </div>
</aside>
