<app-header [photoTitleResult]="photoTitleResult$" [personProfileResult]="personProfileResult$"></app-header>

<div class="body-main">
  <app-nav></app-nav>
  <div class="content-main">
    <app-main-data [personComentsResult]="personComentsResult$" [photosResult]="photosResult$"
      [countryPopularResult]="countryPopularResult$" [photoByCountrieResult]="photoByCountrieResult$"></app-main-data>
    <app-dashboard [personContactResult]="personContactResult$" [weatherTodayResult]="weatherTodayResult$"
      [cityName]="city"></app-dashboard>
  </div>
</div>

<app-footer></app-footer>
