<header>
  @if(photoTitleResult | async; as photosTitle){
  <div class="header-banner" style="background-image: url({{photosTitle.src.original}})">
    <h1>AgeTraveling</h1>
  </div>
  }
  @else {
  <div class="header-banner">
    <h1>AgeTraveling</h1>
    <div class="banner-error">
      @if( this.loading){
      <app-loading-view></app-loading-view>
      } @else {
      <i class='bx bxs-file-image'></i>
      }
    </div>
  </div>
  }

  @if(personProfileResult | async; as userLogin){
  <app-header-child [user]="userLogin"></app-header-child>
  }
  @else {
  <app-header-child [user]="personVoid"></app-header-child>

  }
</header>
