// Variables
$alert-message: #f4d160;
$alert-message-background: linear-gradient(0deg, rgba(251,238,172,1) 0%, rgba(255,255,255,1) 13%);
$alert-message-progress: #f4d160;
$close-color: #373726;

//Keyframe
@keyframes progress {
  100% {
    right: 100%;
  }
}

.alert {
  position: absolute;
  top: 740px;
  right: 26px;
  border-radius: 12px;
  background: $alert-message-background;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px #0000001a;
  border-left: 6px solid $alert-message;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: fixed;

  &.unactive {
    z-index: -1;
    display: none;
  }

  &.active {
    transform: translateX(0%);
    transition: all 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    display: inherit;
    z-index: 1;
    right: 8px;
  }

  .alert-content {
    display: flex;
    align-items: center;

    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      background-color: $alert-message;
      color: #fff;
      font-size: 20px;
      border-radius: 65px;
      border: 2px solid #fff;
    }

    .message {
      display: flex;
      flex-direction: column;
      margin: 0 20px;

      .description {
        font-size: 18px;
        font-weight: 400;
        color: #666666;

        &.title {
          font-weight: 600;
          color: #333;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
    color: $close-color;
    font-size: 22px;

    &:hover {
      opacity: 1;
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ddd;
    border-top: 1px solid white;
    &.active:before {
      animation: progress 5s linear forwards;
      background-color: $alert-message-progress;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 130%;
      width: 100%;
      background-color: #ddd;
    }
  }
}

@media (max-width: 738px) {
  .alert {
    top: 6px;
    padding: 18px 25px 18px 20px;
    z-index: 100;
    &.scroll-alert {
      top: 66px;
    }
    .alert-content {
      .check {
        height: 26px;
        width: 26px;
        font-size: 16.5px;
        border-radius: 95px;
      }

      .message {
        margin: 0 15px;
        .description {
          font-size: 13.5px;
        }
      }
    }
    .close {
      font-size: 19px;
    }
  }
}
