<div class="card review-card">
  <h2>Pablo</h2>
  <div class="ratings">
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
    <i class="bx bx-star"></i>
    <i class="bx bx-star"></i>
  </div>
  <p>
    Nunc porttitor eros mollis bibendum torquent auctor praesent aliquet pulvinar nec id, sem potenti euismod consequat
    ligula posuere nostra mattis at gravida, massa dictumst natoque hac augue semper fames ullamcorper volutpat luctus.
  </p>
</div>

<div class="card review-card">
  <h2>Juan</h2>
  <div class="ratings">
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star-half"></i>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit praesent tempus platea cum, accumsan sociosqu facilisis
    faucibus venenatis odio cras magnis laoreet tortor duis ultrices, montes per eu sem nulla varius nostra justo vitae
    orci. Dapibus nunc egestas condimentum nulla lobortis lacus auctor, luctus cursus senectus sem odio habitasse
    commodo diam, praesent eros nibh proin magnis in.
  </p>
</div>

<div class="card review-card">
  <h2>Natalia</h2>
  <div class="ratings">
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
    <i class="bx bxs-star"></i>
  </div>
  <p>
    Dapibus nunc egestas condimentum nulla lobortis lacus auctor, luctus cursus senectus sem odio habitasse commodo
    diam, praesent eros nibh proin magnis in. Tristique nullam dictumst montes maecenas luctus ridiculus cum torquent
    per, aenean libero ligula vestibulum curabitur massa ut a, sollicitudin at porttitor laoreet gravida quam semper
    fringilla.
  </p>
</div>
