<div class="contact-status">
  <div class="contact-activity">
    @if (contact != undefined) {
    <img src="{{contact.picture.medium}}" alt="imagen de {{contact.name.title}}" />
    <p>{{contact.name.first}} {{contact.name.last}} - <span>{{contact.location.city}},
        {{contact.location.country}}</span></p>
    }
    @else {
    @if( this.loading){
      <div class="user-error">
        <app-loading-view></app-loading-view>
      </div>
      <p>En proceso los Contactos</p>
    } @else {
    <div class="user-error">
      <i class="fa-solid fa-user-ninja"></i>
    </div>
    <p><span>Sin información </span>de Contacto</p>
    }
    }

  </div>
</div>
