<div class="popular-country">
  @if (countryItem != undefined && photoItem != undefined) {
  <img src={{photoItem.src.portrait}} alt="country" class="country-travel" />
  <div class="overlay">
    <p>{{countryItem.translations.spa.common}}</p>
  </div>
  }@else {
  <div class="country-travel">
    <div class="overlay overlay-error">
      @if( this.loading){
      <app-loading-view></app-loading-view>
      } @else {
      <i class='bx bxs-file-image'></i>
      }
    </div>
  </div>
  }
</div>
