// Variables
@mixin icon-center {
  align-items: center;
  justify-content: center;
}
@mixin icon-style($size) {
  color: #000000;
  font-size: $size;
}
@mixin icon-style-hover($size, $weight) {
  color: #000000;
  font-size: $size;
  font-weight: $weight;
}

/* ACTIVITIES */

.image-container {
  position: relative;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 10px;
  background-color: rgb(173, 236, 236);
  height: 100%;
  display: flex;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s linear;
  &.overlay-error {
    @include icon-center();
  }
  .bxs-file-image {
    @include icon-style(45px);
  }
  .bxs-file-image:hover {
    @include icon-style-hover(50px, 700);
  }
}

.image-container:hover .overlay {
  opacity: 0;
}

.overlay p {
  margin-bottom: 8px;
  margin-right: 10px;
  color: #fff;
  font-size: 1.17em;
  font-weight: bold;
  text-align: end;

  @media (max-width: 1000px) {
    font-size: 1em;
    font-weight: 600;
  }
}
