// Variables
$star-color:#ddcc14;
$star-color-error:rgb(134, 235, 235);

/* REVIEWS */

.review-card {
  padding: 20px;
}

.review-card h2 {
  margin-bottom: 8px;
}

.review-card p {
  margin-top: 10px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 3) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.ratings {
  &.error {
    i {
      color: $star-color-error;
      font-size: 1.15rem;
    }
  }
  i {
    color: $star-color;
    font-size: 1.15rem;
  }
}
