<div class="card review-card">
  @if (contact != undefined) {
  <h2>{{contact.name.first}} {{contact.name.last}}</h2>
  <p><i>{{contact.email}}</i></p>
  <div class="ratings">
    @for(item of appreciation; track item; let i = $index){
    <i class="bx {{item}}"></i>
    }
  </div>
  <h4>{{country}}</h4>
  <p>
    {{description}}
  </p>
  <small>{{timeWriter}}</small>
  } @else {
  <h2>Opinión Desconocida</h2>
  <p><i>username&#64;email.com</i></p>
  <div class="ratings error">
    <i class="bx bx-star"></i>
    <i class="bx bx-star"></i>
    <i class="bx bx-star"></i>
    <i class="bx bx-star"></i>
    <i class="bx bx-star"></i>
  </div>
  }
</div>
