// Variables
$main-menu-background: rgba(29, 231, 253);
$font-family: "Roboto", sans-serif;
$main-menu-gradient: linear-gradient(
  357deg,
  rgb(131, 58, 180) 0%,
  rgb(29, 229, 253) 65%,
  rgb(69, 149, 252) 97%
);

// Animation
@keyframes wipe-in-top-left {
  from {
    clip-path: polygon(150% 50%, 150% 50%, 50% 150%, 50% 150%);
  }
  to {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
}

@keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }
  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }
}

// MAIN MENU
.main-menu {
  overflow: hidden;
  background: $main-menu-background;
  border-radius: 0 10px 5px 0;
  font-family: $font-family;
  @media (min-width: 738px) {
    background: $main-menu-gradient;
  }
  ul {
    margin-top: 0px;
    @media (min-width: 1250px) {
      padding-left: 15%;

    }
    @media (max-width: 1250px) {
      padding-inline-start: 0;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding-left: 13.5%;
    }
    @media (max-width: 1000px) and (min-width: 738px) {
      padding-left: 10%;
    }
  }


  @media (min-width: 738px) {
    ul {
      padding-top: 23px;
      animation: 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) wipe-in-bottom-right
        both;
    }
    &.drop-nav {
      ul {
        animation: 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) wipe-in-top-left
          both;
        padding-left: 6%;
      }
      .shrink {
        .arrow-shrink {
          left: 22%;
          top: 19px;
        }
      }
    }
  }

  @media (max-width: 738px) {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 754px;
    padding-top: 0;
    border-radius: 10px 10px 0 0;
    background-color: $main-menu-background;
    ul {
      margin: 10px 0 10px 0;
      padding-left: 35px;
      padding-right: 35px;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
    }
  }
  @media (max-width: 500px) {
    ul {
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  // ARROW-SHRINK
  .shrink {
    position: relative;
    display: flex;
    align-items: center;
    .arrow-shrink {
      background-color: $main-menu-background;
      position: absolute;
      left: 76%;
      top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5px;
      line-height: 40px;
      border-radius: 25px;
      i {
        color: white;
        font-size: 43px;
        cursor: pointer;
        line-height: 40px;
        @media (max-width: 1500px) and (max-width: 1000px) {
          font-size: 40px;
          line-height: 37px;
        }
        @media (max-width: 1000px) and (max-width: 768px) {
          font-size: 38px;
          line-height: 37px;
        }
      }
      @media (max-width: 1250px) and (min-width: 1000px) {
        left: 76%;
      }
      @media (max-width: 1000px) and (min-width: 738px) {
        left: 70%;
        top: 3px;
      }
    }
    @media (max-width: 738px) {
      display: none;
    }
  }
}
