// Variables
$nav-item-color: #fff;
$nav-item-background: #492357;
$active-nav-item-background: rgb(254, 254, 254);
$active-nav-item-color: #000;
$font-size: 1rem;
$nav-icon-size: 56.5px;
$nav-text-width: 120px;
$hover-animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
$nav-background: rgba(69, 149, 252, 1);

// NAV ITEM
.nav-item {
  position: relative;
  display: block;
  cursor: pointer;
  margin-bottom: 15px;

  a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $nav-item-color;
    font-size: $font-size;
    padding: 15px 0;
    margin-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:hover:not(.active):hover {
    a {
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      background-color: $nav-item-background;
      animation: $hover-animation;
      text-decoration: none;
      z-index: 1;
    }
  }

  &.active {
    b {
      display: block;
    }

    a {
      text-decoration: none;
      color: $active-nav-item-color;
      background: $active-nav-item-background;
    }
  }

  b {
    position: absolute;
    height: 15px;
    background: $nav-item-color;
    display: none;
    left: 97%;
    width: 4%;
    border: 4px solid transparent;
    clip-path: circle(50% at 0%);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  b:nth-child(1) {
    top: -15px;
    border-top-left-radius: 20px;

    &::before {
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }

  b:nth-child(2) {
    bottom: -15px;
    border-bottom-left-radius: 20px;

    &::before {
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}

// Keyframes
@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

// NAV ICON
.nav-icon {
  width: $nav-icon-size;
  height: 20px;
  font-size: 22px;
  text-align: center;
}

// NAV TEXT
.nav-text {
  display: block;
  width: $nav-text-width;
  height: 20px;
  font-size: 18.5px;
}

// Media Queries
.nav-item {
  @media (min-width: 1500px) {
    &.nav-item-out {
      a {
        i {
          font-size: 26px;
        }
      }
    }
  }
  @media (max-width: 1500px) and (min-width: 1250px) {
    a {
      i {
        font-size: 24px;
      }
      span {
        font-size: 20px;
      }
    }
  }
  @media (max-width: 1250px) and (min-width: 738px) {
    &.nav-item-out {
      a {
        i {
          font-size: 25px;
        }
      }
    }
    a {
      i {
        font-size: 25px;
      }
      span {
        font-size: 18px;
      }
    }
  }
  @media (max-width: 1000px) and (min-width: 738px) {
    a {
      span {
        font-size: 16px;
      }
    }
  }
  @media (min-width: 738px) {
    &.nav-item-out {
      a {
        span {
          display: none;
        }
      }
    }
    a {
      text-decoration: none;
      i {
        text-decoration: underline;
      }
    }
    &.active{
      a {
        i {
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 738px) {
    &:hover {
      a {
        border-radius: 15px;
      }
    }

    &.active {
      b {
        display: none;
        top: 0;
        bottom: 0;
      }
      a {
        border-radius: 16px;
      }

      b::before,
      b {
        border-radius: 0;
      }
    }

    b {
      display: none;
      top: 0;
      bottom: 0;
    }

    a {
      flex-direction: column;
      padding-top: 8px;
      padding-bottom: 6px;

      i {
        font-size: 19px;
      }

      span {
        margin-top: 7.5px;
        font-size: small;
        width: 75px;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media (max-width: 500px) {
    a {
      width: 70px;
      margin: 0px;
      padding-top: 10px;
      padding-bottom: 8px;
      i {
        font-size: 18px;
      }

      span {
        margin-top: 3px;
        font-size: small;
      }
    }
  }
}
