<li class="nav-item active">
  <b></b>
  <b></b>
  <a href="#">
    <i class="fa fa-house nav-icon"></i>
    <span class="nav-text">Menu Principal</span>
  </a>
</li>

<li class="nav-item">
  <b></b>
  <b></b>
  <a href="#">
    <i class="fa fa-user nav-icon"></i>
    <span class="nav-text">Perfil</span>
  </a>
</li>

<li class="nav-item">
  <b></b>
  <b></b>
  <a href="#">
    <i class="fa fa-calendar-check nav-icon"></i>
    <span class="nav-text">Agenda</span>
  </a>
</li>

<li class="nav-item">
  <b></b>
  <b></b>
  <a href="#">
    <i class="fa fa-person-running nav-icon"></i>
    <span class="nav-text">Actividades</span>
  </a>
</li>

<li class="nav-item">
  <b></b>
  <b></b>
  <a href="#">
    <i class="fa fa-sliders nav-icon"></i>
    <span class="nav-text">Configuración</span>
  </a>
</li>
