// Variables
@mixin icon-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aee7ec;
  border: 0.25px solid rgb(232, 238, 240);
  height: 40px;
}
@mixin icon-style($size) {
  color: #000000;
  font-size: $size;
}
@mixin icon-style-hover($size, $weight) {
  color: #000000;
  font-size: $size;
  font-weight: $weight;
}
@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes square-out-center {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 100% 100% 100%);
  }
}

// HEADER-CHILD
.header-child {
  width: 100%;
  height: 60px;
  z-index: 50;
  background-color: #00b0c4;
  color: #000;
  display: grid;
  grid-template-columns: 20% 50% 30%;

  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  @media (max-width: 738px) {
    &.scroll-out {
      grid-template-columns: 50% 50%;
      .title {
        display: none;
      }
      .search-and-check {
        .search-box {
          width: 220px;
          input {
            display: block;
          }
          .icon-search {
            width: 40px;
            position: absolute;
            margin-right: -4px;
            height: 36px;
            border-left: 0.25px solid rgb(22, 22, 22);
            border-right: 0.5px solid rgb(22, 22, 22);
          }
        }
      }
    }
  }
  @media (min-width: 500px) and (max-width: 738px) {
    &.scroll-out {
      .search-and-check {
        .search-box {
            width: 280px;

        }
      }
    }
  }
}

// Title
.title {
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 27px;
  font-size: 2rem;
  visibility: hidden;
  h1 {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    font-family: "Nunito", sans-serif;
    &.visible-title {
      visibility: visible;
    }
    a {
      text-decoration: none;
      list-style: none;
      color: #fff;
      &:hover {
        color: #222226;
      }
    }
  }
}

/* SEARCH */
.search-and-check {
  height: 100%;
  list-style-type: none;
  margin: 0 2% auto 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: start;

  .backSearch {
    display: none;
    margin-left: 22px;
    i {
      cursor: pointer;
      font-size: 37px;
      display: flex;
      align-items: center;
      color: #aee7ec;
      &:hover {
        color: white;
      }
    }
  }
  form,
  div {
    line-height: 60px;
    margin-left: 10px;
  }

  div h4 {
    text-decoration: none;
  }
  .search-box {
    position: relative;
    display: flex;
    margin-left: 3%;
    input {
      width: 81.5%;
      height: 20px;
      border: 1.5px solid black;
      border-radius: 12px;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.6px;
      padding: 8px 8% 8px 4.6%;
      margin: 0 auto;
      color: #000000;
      background-color: #aee7ec;

      &::placeholder {
        opacity: 0.5;
        font-weight: 400;
        color: #000000;
      }

      &:hover {
        background-color: rgba(111, 213, 217, 0.841);

        &::placeholder {
          opacity: 0.8;
          color: #ffffff;
        }
      }

      &:focus {
        background-color: rgb(134, 216, 223);
        outline: #ffffff;

        &::placeholder {
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
    .icon-search {
      height: 36px;
      width: 40px;
      top: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 3%;
      font-size: 1.3rem;
      background-color: #aee7ec;
      cursor: pointer;
      border-left: 0.25px solid rgb(22, 22, 22);
      border-right: 0.5px solid rgb(22, 22, 22);
      border-radius: 10px;
      &:hover {
        background-color: rgba(111, 213, 217, 0.841);
        color: #ffffff;
      }
    }
  }
}

// USER-INFO
.user-info {
  display: flex;
  justify-content: end;
  margin-right: 5%;
  .user-data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .icon-container {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      i {
        font-size: 22px;
        cursor: pointer;
      }
    }
    h4 {
      margin-right: 12px;
      font-size: 16px;
    }
    img,
    .user-error {
      width: 40px;
      border-radius: 50%;
      margin-right: 6px;
    }
    .user-error {
      @include icon-center();
      .fa-user-ninja {
        @include icon-style(22px);
      }
      .fa-user-ninja:hover {
        @include icon-style-hover(26px, 700);
      }
    }

    .notified {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -3px;
        right: -2px;
        background-color: rgb(48, 153, 36);
        width: 10px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }
  }
}
/* Light/Dark Mode */
.mode-icon i {
  color: rgb(42, 51, 65);
  transform: translateY(2px);
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    color: rgb(97, 112, 136);
    position: relative;
  }
}

.hidden {
  display: none;
}

@media (min-width: 1250px) {
  .search-box {
    width: 500px;
  }
}

@media (max-width: 1250px) {
  .search-box {
    width: 350px;
    input {
      width: 85%;
      padding-block: 0;
      padding-inline: 0;
    }
  }
  .title {
    margin-left: 20px;
    h1 {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 738px) {
  .header-child {
    grid-template-columns: 167px 22% 50%;
    .title {
      min-width: 167px;
      font-size: 1.3rem;
    }
    .search-box {
      justify-content: end;
      width: 200px;
      input {
        display: none;
      }
      .icon-search {
        height: 34px;
        top: 0.5px;
        position: relative;
        border: none;
        border-radius: 10px;
        background-color: #aee7ec;
        margin-right: 100px;
      }
    }

    &.search-complete {
      .title {
        display: none;
      }
      grid-template-columns: 100%;
      .search-and-check {
        justify-content: initial;
        .backSearch {
          display: initial;
        }
        .search-box {
          padding-left: 0;
          width: 580px;
          padding-right: 8px;
          margin-right: 13px;
          input {
            display: flex;
            width: 84%;
            animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-center both;
          }
          .icon-search {
            height: 36.5px;
            position: absolute;
            top: 1px;
            right: 3%;
            border-left: 0.25px solid rgb(22, 22, 22);
            border-right: 0.5px solid rgb(22, 22, 22);
            background-color: #aee7ec;
            margin-right: 0;
            &:hover {
              background-color: rgba(111, 213, 217, 0.841);
            }
          }
        }
      }

      .user-info {
        display: none;
        margin-right: 7%;
      }
      .title {
        margin-left: 17px;
      }
    }
  }
}

@media (max-width: 500px) {
  .header-child {
    grid-template-columns: 167px 20% 42%;
    .title {
      font-size: 1.2rem;
    }
    .search-box {
      width: 150px;
      padding-left: 5%;
      input {
        width: 84.6%;
      }
    }
    .user-data {
      h4 {
        display: none;
      }
    }
  }
}
