<div class="header-child scroll-out">
  <div class="title">
    <h1><a href="">AgeTraveling</a></h1>
  </div>

  <div class="search-and-check">
    <div class="backSearch">
      <i class='bx bx-left-arrow-circle' (click)="hideBackArrow()"></i>
    </div>
    <form class="search-box">
      <input type="text" placeholder="Buscar..." (click)="changeSearchInput()" />
      <div class="icon-search" (click)="changeSearchComplete()">
        <i class="bx bx-search"></i>
      </div>
    </form>
  </div>

  <div class="user-info">
    <div class="user-data">
      @if (user != undefined) {
      <h4>{{user.results[0].name.first}} {{user.results[0].name.last}}</h4>
      <img src="{{user.results[0].picture.medium}}" alt="user" />
      }
      @else {
      @if( this.loading){
      <h4>Usuario Desconocido</h4>
      <div class="user-error">
        <app-loading-view></app-loading-view>
      </div>
      } @else {
      <h4>Usuario en carga</h4>
      <div class="user-error">
        <i class="fa-solid fa-user-ninja"></i>
      </div>
      }
      }
      <div class="icon-container">
        <i class='bx bxs-paper-plane'></i>
        <i class='bx bxs-bell notified'></i>
        <!-- <i class="fa-regular fa-envelope notified"></i>
        <i class="fa-regular fa-bell notified"></i> -->
        <div class="toggle-mode hidden" (click)="switchTheme()">
          <div class="mode-icon moon">
            <i class="bx bxs-moon"></i>
          </div>
          <div class="mode-icon sun hidden">
            <i class="bx bxs-sun hidden"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
