<div class="header-child">
  <div class="title">
    <h1>AgeTraveling</h1>
  </div>

  <div class="search-and-check">
    <form class="search-box">
      <input type="text" placeholder="Search event..." />
      <i class="bx bx-search"></i>
    </form>
  </div>

    <div class="user-info">
      <h4>Kelsey Miller</h4>
      <img
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/40b7cce2-c289-4954-9be0-938479832a9c"
        alt="user" />
        <div class="icon-container">
          <!-- <i class="fa fa-bell nav-icon"></i>
        <i class="fa fa-message nav-icon"></i> -->
          <i class="fa-regular fa-envelope notified"></i>
          <i class="fa-regular fa-bell notified"></i>
        </div>
    </div>

    <!-- <div class="interaction-control-mobile interactions">
      <i class="fa-regular fa-envelope notified"></i>
      <i class="fa-regular fa-bell notified"></i>
      <div class="toggle" onclick="switchTheme()">
        <div class="mode-icon moon">
          <i class="bx bxs-moon"></i>
        </div>
        <div class="mode-icon sun hidden">
          <i class="bx bxs-sun"></i>
        </div>
      </div>
    </div> -->


</div>
